<div class="jumbotron" style= "background-image: url(https://i.pinimg.com/originals/2c/3b/ea/2c3beaf36e094e2c48c976ea3025ee51.jpg)">
      <h1 class="display-3">Le meilleur rapport qualité prix </h1>
      <p class="lead">Une image de qualite  a un prix défiant toute concurrence ! </p>
      <hr class="my-4">
      <p class="lead">
        <button type="button" class="btn">Learn more</button>
        
      </p>
</div>
